<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## list Objectives

## Objectives :

In [61]:
print (""" 
• How to run, delete, and insert a code cell in Jupyter Notebooks.
• using a combination of Markdown and code cells.
• Using git
• Getting to know Data Management Tools, Data Visualization Tools,Development Environments
• Data science tools and libraries
        """)

• How to run, delete, and insert a code cell in Jupyter Notebooks.
• using a combination of Markdown and code cells.
• Using git
• Getting to know Data Management Tools, Data Visualization Tools,Development Environments
• Data science tools and libraries

# Some of the popular languages that Data Scientists use are:

In [3]:
orderedList = ("python", "R", "Scala", "Java", "Julia")
Languages = sorted(orderedList)
print(Languages)

['Java', 'Julia', 'R', 'Scala', 'python']

# Some of the commonly used libraries used by Data Scientists include:

In [4]:
orderedList = ("TensorFlow", "Keras", "Pytorch", "Scikit-learn")
libraries = sorted(orderedList)
print(libraries)

['Keras', 'Pytorch', 'Scikit-learn', 'TensorFlow']

# a table of Data Science tools

In [2]:
from prettytable import PrettyTable

MyTable = PrettyTable(['Data Science Tools'])

MyTable.add_row(['Apache Hadoop'])
MyTable.add_row(['RStudio'])
MyTable.add_row(['Apache Spark'])

print(MyTable)

+--------------------+
| Data Science Tools |
+--------------------+
|   Apache Hadoop    |
|      RStudio       |
|    Apache Spark    |
+--------------------+

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
x = 100
y = 25

add = x + y
sub = x - y
pro = x * y
div = x / y

print(add)
print(sub)
print(pro)
print(div)

125
75
2500
4.0

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60

Hour = int(min/60)
Minute = 200 % 60

print(Hour, ":" , Minute)

3 : 20

## Author's name : Lakshmi Holla , Niveditha Pandith
 Ensieh AbbaasiRad